<nav class="navbar navbar-light" style="background-color: #F9AB9F;">

  <div class="container">
    <nav>
      <ul class="nav navbar-light" style: >
       <li class="nav-item">
        <a class="nav-link" <%= link_to "Home", "/" %></a>
      </li>
        <% if logged_in? %>
          <li class="nav-item">
            <a class="nav-link" <%= link_to " Secret ", secret_path %></a>
          </li>
          <li class="nav-item">
           <a class="nav-link"  <%= link_to " Profile ", current_user %></a>
         </li>
          <li class="nav-item">
           <a <%= link_to " Log out ", logout_path, method: :delete %> </a>  
         </li>
        <% else %>
          <li class="nav-item">
           <a class="nav-link"  <%= link_to " Log in ", login_path %></a>
         </li>
        <% end %>
      </ul>
    </nav>
  </div>
</nav>